In [34]:
!pip install scikit-learn==1.5.2

Requirement already satisfied: scikit-learn==1.5.2 in /usr/local/lib/python3.12/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (3.6.0)

In [35]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')
tax_df = pd.read_csv("/content/ACSDT5Y2024.B25103-2026-02-13T193233.csv")

In [36]:
tax_df.head()

,Label (Grouping),ZCTA5 83856!!Estimate,ZCTA5 83856!!Margin of Error,ZCTA5 98001!!Estimate,ZCTA5 98001!!Margin of Error,ZCTA5 98002!!Estimate,ZCTA5 98002!!Margin of Error,ZCTA5 98003!!Estimate,ZCTA5 98003!!Margin of Error,ZCTA5 98004!!Estimate,...,ZCTA5 99363!!Estimate,ZCTA5 99363!!Margin of Error,ZCTA5 99371!!Estimate,ZCTA5 99371!!Margin of Error,ZCTA5 99401!!Estimate,ZCTA5 99401!!Margin of Error,ZCTA5 99402!!Estimate,ZCTA5 99402!!Margin of Error,ZCTA5 99403!!Estimate,ZCTA5 99403!!Margin of Error
0,Median real estate taxes paid --,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total:,"1,632",±138,"5,483",±235,"4,320",±259,"4,127",±255,"10,000+",...,"2,263",±517,"1,524",±475,"1,677",±482,"3,080",±466,"2,308",±162
2,Median real estate taxes paid for unit...,"1,710",±147,"5,564",±233,"4,796",±258,"4,323",±255,"10,000+",...,-,**,"2,000",±647,"1,781",±424,"2,963","±1,167","2,259",±229
3,Median real estate taxes paid for unit...,"1,448",±177,"5,268",±572,"2,137","±1,071","3,066",±966,"10,000+",...,-,**,-,**,-,**,"3,112",±507,"2,380",±203

In [37]:
tax_df['Label (Grouping)'].unique()

array(['Median real estate taxes paid --', '\xa0\xa0\xa0\xa0Total:',
       '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Median real estate taxes paid for units with a mortgage',
       '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Median real estate taxes paid for units without a mortgage'],
      dtype=object)

In [38]:
tax_total = tax_df[tax_df["Label (Grouping)"] == "\xa0\xa0\xa0\xa0Total:"]
tax_total.shape
tax_total.head()

,Label (Grouping),ZCTA5 83856!!Estimate,ZCTA5 83856!!Margin of Error,ZCTA5 98001!!Estimate,ZCTA5 98001!!Margin of Error,ZCTA5 98002!!Estimate,ZCTA5 98002!!Margin of Error,ZCTA5 98003!!Estimate,ZCTA5 98003!!Margin of Error,ZCTA5 98004!!Estimate,...,ZCTA5 99363!!Estimate,ZCTA5 99363!!Margin of Error,ZCTA5 99371!!Estimate,ZCTA5 99371!!Margin of Error,ZCTA5 99401!!Estimate,ZCTA5 99401!!Margin of Error,ZCTA5 99402!!Estimate,ZCTA5 99402!!Margin of Error,ZCTA5 99403!!Estimate,ZCTA5 99403!!Margin of Error
1,Total:,"1,632",±138,"5,483",±235,"4,320",±259,"4,127",±255,"10,000+",...,"2,263",±517,"1,524",±475,"1,677",±482,"3,080",±466,"2,308",±162

In [39]:
tax_total = tax_total.loc[:, tax_total.columns.str.contains("!!Estimate")]

In [40]:
tax_total.head()

,ZCTA5 83856!!Estimate,ZCTA5 98001!!Estimate,ZCTA5 98002!!Estimate,ZCTA5 98003!!Estimate,ZCTA5 98004!!Estimate,ZCTA5 98005!!Estimate,ZCTA5 98006!!Estimate,ZCTA5 98007!!Estimate,ZCTA5 98008!!Estimate,ZCTA5 98010!!Estimate,...,ZCTA5 99357!!Estimate,ZCTA5 99359!!Estimate,ZCTA5 99360!!Estimate,ZCTA5 99361!!Estimate,ZCTA5 99362!!Estimate,ZCTA5 99363!!Estimate,ZCTA5 99371!!Estimate,ZCTA5 99401!!Estimate,ZCTA5 99402!!Estimate,ZCTA5 99403!!Estimate
1,"1,632","5,483","4,320","4,127","10,000+","10,000+","9,724","7,289","8,482","5,940",...,"1,788","1,341","3,372","2,542","3,668","2,263","1,524","1,677","3,080","2,308"

In [41]:
tax_total.columns = ['Label (Grouping)'] + [col.split('!!')[0].replace('ZCTA5 ', '') for col in tax_total.columns[1:]]
tax_total.head()

,Label (Grouping),98001,98002,98003,98004,98005,98006,98007,98008,98010,...,99357,99359,99360,99361,99362,99363,99371,99401,99402,99403
1,"1,632","5,483","4,320","4,127","10,000+","10,000+","9,724","7,289","8,482","5,940",...,"1,788","1,341","3,372","2,542","3,668","2,263","1,524","1,677","3,080","2,308"

In [42]:
tax_long = tax_total.T.reset_index()
tax_long.loc[0, "index"] = 83856
tax_long.head()

   index        1
0  83856    1,632
1  98001    5,483
2  98002    4,320
3  98003    4,127
4  98004  10,000+

In [43]:
tax_long.columns = ["zipcode_label", "median_property_tax"]
import numpy as np

tax_long["median_property_tax"] = (
    tax_long["median_property_tax"]
        .astype(str)
        .str.replace(",", "", regex=False)
        .str.replace("+", "", regex=False)
        .replace({"-": np.nan, "200-": np.nan})
        .astype(float)
)

housing["zipcode"] = housing["zipcode"].astype(int)
tax_long["zipcode"] = tax_long["zipcode_label"].astype(int)
tax_long.head()

  zipcode_label  median_property_tax  zipcode
0         83856               1632.0    83856
1         98001               5483.0    98001
2         98002               4320.0    98002
3         98003               4127.0    98003
4         98004              10000.0    98004

In [44]:
zipcodes = [
    98038, 98023, 98116, 98117, 98034, 98065, 98031, 98075, 98028,
    98103, 98004, 98166, 98077, 98008, 98006, 98199, 98052, 98136,
    98108, 98055, 98027, 98058, 98144, 98115, 98168, 98102, 98042,
    98059, 98002, 98155, 98072, 98001, 98112, 98007, 98177, 98074,
    98119, 98011, 98014, 98106, 98045, 98033, 98125, 98133, 98053,
    98122, 98022, 98178, 98148, 98019, 98010, 98070, 98056, 98030,
    98188, 98029, 98107, 98105, 98198, 98003, 98118, 98126, 98040,
    98092, 98032, 98146, 98024, 98005, 98039, 98109
]

tax_long = tax_long[tax_long["zipcode"].isin(zipcodes)]
tax_long= tax_long.drop(columns = "zipcode_label")
tax_long.head()

   median_property_tax  zipcode
1               5483.0    98001
2               4320.0    98002
3               4127.0    98003
4              10000.0    98004
5              10000.0    98005

In [45]:
housing["zipcode"] = housing["zipcode"].astype(int)
tax_long["zipcode"] = tax_long["zipcode"].astype(int)

housing = housing.merge(
    tax_long,
    on="zipcode",
    how="left")

In [46]:
housing.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,median_property_tax
0,1565930130,20141104T000000,4,3.25,3760,4675,2.0,0,0,3,...,1020,2007,0,98038,47.3862,-122.048,3280,4033,429900.0,6599.0
1,3279000420,20150115T000000,3,1.75,1460,7800,1.0,0,0,2,...,420,1979,0,98023,47.3035,-122.382,1310,7865,233000.0,5060.0
2,194000575,20141014T000000,4,1.00,1340,5800,1.5,0,2,3,...,0,1914,0,98116,47.5658,-122.389,1900,5800,455000.0,7546.0
3,2115510160,20141208T000000,3,1.75,1440,8050,1.0,0,0,3,...,0,1985,0,98023,47.3187,-122.390,1790,7488,258950.0,5060.0
4,7522500005,20140815T000000,2,1.50,1780,4750,1.0,0,0,4,...,700,1947,0,98117,47.6859,-122.395,1690,5962,555000.0,8096.0

In [47]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   20000 non-null  int64
 1   date                 20000 non-null  object
 2   bedrooms             20000 non-null  int64
 3   bathrooms            20000 non-null  float64
 4   sqft_living          20000 non-null  int64
 5   sqft_lot             20000 non-null  int64
 6   floors               20000 non-null  float64
 7   waterfront           20000 non-null  int64
 8   view                 20000 non-null  int64
 9   condition            20000 non-null  int64
 10  grade                20000 non-null  int64
 11  sqft_above           20000 non-null  int64
 12  sqft_basement        20000 non-null  int64
 13  yr_built             20000 non-null  int64
 14  yr_renovated         20000 non-null  int64
 15  zipcode              20000 non-null  int64
 16  lat                  20000 non-null  float64
 17  long                 20000 non-null  float64
 18  sqft_living15        20000 non-null  int64
 19  sqft_lot15           20000 non-null  int64
 20  price                20000 non-null  float64
 21  median_property_tax  20000 non-null  float64
dtypes: float64(6), int64(15), object(1)
memory usage: 3.4+ MB

In [48]:
housing["has_basement"]= (housing["sqft_basement"]>0).astype(int)

In [49]:
housing["year_sold"]= housing["date"].astype(str).str[:4].astype(int)
housing["year_sold"]

0        2014
1        2015
2        2014
3        2014
4        2014
         ...
19995    2014
19996    2014
19997    2014
19998    2014
19999    2015
Name: year_sold, Length: 20000, dtype: int64

In [50]:
housing["age"]= (housing["year_sold"]-housing["yr_built"])
housing["has_been_renovated"] = (housing["yr_renovated"] > 0).astype(int)
housing["yr_since_renovation"] = housing["year_sold"] - housing["yr_renovated"]
housing.loc[housing["yr_renovated"] == 0, "yr_since_renovation"] = np.nan
housing["yr_since_renovation"].value_counts()

yr_since_renovation
0.0     78
1.0     42
8.0     32
11.0    32
10.0    30
        ..
80.0     1
53.0     1
64.0     1
66.0     1
60.0     1
Name: count, Length: 71, dtype: int64

In [51]:
y= housing["price"]
X= housing.drop(columns = ["id","date", "sqft_above", "sqft_basement","price", "zipcode","yr_renovated", "has_been_renovated"])

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [52]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bedrooms             20000 non-null  int64
 1   bathrooms            20000 non-null  float64
 2   sqft_living          20000 non-null  int64
 3   sqft_lot             20000 non-null  int64
 4   floors               20000 non-null  float64
 5   waterfront           20000 non-null  int64
 6   view                 20000 non-null  int64
 7   condition            20000 non-null  int64
 8   grade                20000 non-null  int64
 9   yr_built             20000 non-null  int64
 10  lat                  20000 non-null  float64
 11  long                 20000 non-null  float64
 12  sqft_living15        20000 non-null  int64
 13  sqft_lot15           20000 non-null  int64
 14  median_property_tax  20000 non-null  float64
 15  has_basement         20000 non-null  int64
 16  year_sold            20000 non-null  int64
 17  age                  20000 non-null  int64
 18  yr_since_renovation  829 non-null    float64
dtypes: float64(6), int64(13)
memory usage: 2.9 MB

In [55]:
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor

pipeline = Pipeline([
    ("house_model", XGBRegressor(
        n_estimators=300,
        max_depth=4,
        learning_rate=0.05,
        subsample=0.8,
        colsample_bytree=0.8,
        random_state=42
    ))
])

pipeline.fit(X_train, y_train)

train_preds = pipeline.predict(X_train)
test_preds = pipeline.predict(X_test)

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import numpy as np

train_rmse = np.sqrt(mean_squared_error(y_train, train_preds))
test_rmse = np.sqrt(mean_squared_error(y_test, test_preds))

print(f"Train RMSE: ${train_rmse:,.0f}")
print(f"Test RMSE:  ${test_rmse:,.0f}")

train_r2 = r2_score(y_train, train_preds)
test_r2 = r2_score(y_test, test_preds)

print(f"Train R²: {train_r2:.3f}")
print(f"Test R²:  {test_r2:.3f}")

Train RMSE: $90,246
Test RMSE:  $133,897
Train R²: 0.937
Test R²:  0.881

In [54]:
model = pipeline.named_steps["house_model"]
importances = model.feature_importances_

feature_names = X_train.columns

importance_df = pd.DataFrame({
    "feature": feature_names,
    "importance": importances
}).sort_values(by="importance", ascending=False)

print(importance_df.head(20))

                feature  importance
8                 grade    0.309958
2           sqft_living    0.171863
14  median_property_tax    0.086277
5            waterfront    0.066877
6                  view    0.058146
11                 long    0.054012
10                  lat    0.053373
1             bathrooms    0.043396
17                  age    0.042811
12        sqft_living15    0.031518
9              yr_built    0.016829
13           sqft_lot15    0.012294
0              bedrooms    0.011349
3              sqft_lot    0.009291
16            year_sold    0.008262
7             condition    0.007263
18  yr_since_renovation    0.006537
4                floors    0.006439
15         has_basement    0.003504