In [1]:
!pip install scikit-learn==1.5.2

Collecting scikit-learn==1.5.2
  Downloading scikit_learn-1.5.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (3.6.0)
Downloading scikit_learn-1.5.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.9/12.9 MB 46.0 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.6.1
    Uninstalling scikit-learn-1.6.1:
      Successfully uninstalled scikit-learn-1.6.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
umap-learn 0.5.11 requires scikit-learn>=1.6, but you have scikit-learn 1.5.2 which is incompatible.
hdbscan 0.8.41 requires scikit-learn>=1.6, but you have scikit-learn 1.5.2 which is incompatible.
Successfully installed scikit-learn-1.5.2

In [2]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [20]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20000 non-null  int64
 1   date           20000 non-null  object
 2   bedrooms       20000 non-null  int64
 3   bathrooms      20000 non-null  float64
 4   sqft_living    20000 non-null  int64
 5   sqft_lot       20000 non-null  int64
 6   floors         20000 non-null  float64
 7   waterfront     20000 non-null  int64
 8   view           20000 non-null  int64
 9   condition      20000 non-null  int64
 10  grade          20000 non-null  int64
 11  sqft_above     20000 non-null  int64
 12  sqft_basement  20000 non-null  int64
 13  yr_built       20000 non-null  int64
 14  yr_renovated   20000 non-null  int64
 15  zipcode        20000 non-null  int64
 16  lat            20000 non-null  float64
 17  long           20000 non-null  float64
 18  sqft_living15  20000 non-null  int64
 19  sqft_lot15     20000 non-null  int64
 20  price          20000 non-null  float64
 21  has_basement   20000 non-null  int64
 22  year_sold      20000 non-null  int64
 23  age            20000 non-null  int64
dtypes: float64(5), int64(18), object(1)
memory usage: 3.7+ MB

In [11]:
housing["has_basement"]= (housing["sqft_basement"]>0).astype(int)

In [15]:
housing["year_sold"]= housing["date"].astype(str).str[:4].astype(int)
housing["year_sold"]

0        2014
1        2015
2        2014
3        2014
4        2014
         ...
19995    2014
19996    2014
19997    2014
19998    2014
19999    2015
Name: year_sold, Length: 20000, dtype: int64

In [17]:
housing["age"]= (housing["year_sold"]-housing["yr_built"])
housing["age"]

0          7
1         36
2        100
3         29
4         67
        ...
19995     67
19996      0
19997     10
19998     51
19999      9
Name: age, Length: 20000, dtype: int64

In [30]:
y= housing["price"]
X= housing.drop(columns = ["id","date", "sqft_above", "sqft_basement","price", "zipcode"])

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [33]:
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor

pipeline = Pipeline([
    ("model", XGBRegressor(
        n_estimators=300,
        max_depth=4,
        learning_rate=0.05,
        subsample=0.8,
        colsample_bytree=0.8,
        random_state=42
    ))
])

pipeline.fit(X_train, y_train)

train_preds = pipeline.predict(X_train)
test_preds = pipeline.predict(X_test)

from sklearn.metrics import mean_squared_error
import numpy as np

train_rmse = np.sqrt(mean_squared_error(y_train, train_preds))
test_rmse = np.sqrt(mean_squared_error(y_test, test_preds))

print(f"Train RMSE: ${train_rmse:,.0f}")
print(f"Test RMSE:  ${test_rmse:,.0f}")

Train RMSE: $92,539
Test RMSE:  $135,902

In [34]:
model = pipeline.named_steps["model"]
importances = model.feature_importances_

feature_names = X_train.columns

importance_df = pd.DataFrame({
    "feature": feature_names,
    "importance": importances
}).sort_values(by="importance", ascending=False)

print(importance_df.head(10))

          feature  importance
8           grade    0.310645
2     sqft_living    0.198431
11            lat    0.081727
5      waterfront    0.073170
6            view    0.057933
17            age    0.051329
1       bathrooms    0.046240
12           long    0.043047
13  sqft_living15    0.041997
9        yr_built    0.022488