In [1]:
!pip install scikit-learn==1.5.2

Collecting scikit-learn==1.5.2
  Downloading scikit_learn-1.5.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.5.2) (3.6.0)
Downloading scikit_learn-1.5.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.9/12.9 MB 47.5 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.6.1
    Uninstalling scikit-learn-1.6.1:
      Successfully uninstalled scikit-learn-1.6.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
umap-learn 0.5.11 requires scikit-learn>=1.6, but you have scikit-learn 1.5.2 which is incompatible.
hdbscan 0.8.41 requires scikit-learn>=1.6, but you have scikit-learn 1.5.2 which is incompatible.
Successfully installed scikit-learn-1.5.2

In [65]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')
tax_df = pd.read_csv("/content/ACSDT5Y2024.B25103-2026-02-13T193233.csv")

In [66]:
tax_df.head()

,Label (Grouping),ZCTA5 83856!!Estimate,ZCTA5 83856!!Margin of Error,ZCTA5 98001!!Estimate,ZCTA5 98001!!Margin of Error,ZCTA5 98002!!Estimate,ZCTA5 98002!!Margin of Error,ZCTA5 98003!!Estimate,ZCTA5 98003!!Margin of Error,ZCTA5 98004!!Estimate,...,ZCTA5 99363!!Estimate,ZCTA5 99363!!Margin of Error,ZCTA5 99371!!Estimate,ZCTA5 99371!!Margin of Error,ZCTA5 99401!!Estimate,ZCTA5 99401!!Margin of Error,ZCTA5 99402!!Estimate,ZCTA5 99402!!Margin of Error,ZCTA5 99403!!Estimate,ZCTA5 99403!!Margin of Error
0,Median real estate taxes paid --,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total:,"1,632",±138,"5,483",±235,"4,320",±259,"4,127",±255,"10,000+",...,"2,263",±517,"1,524",±475,"1,677",±482,"3,080",±466,"2,308",±162
2,Median real estate taxes paid for unit...,"1,710",±147,"5,564",±233,"4,796",±258,"4,323",±255,"10,000+",...,-,**,"2,000",±647,"1,781",±424,"2,963","±1,167","2,259",±229
3,Median real estate taxes paid for unit...,"1,448",±177,"5,268",±572,"2,137","±1,071","3,066",±966,"10,000+",...,-,**,-,**,-,**,"3,112",±507,"2,380",±203

In [67]:
tax_df['Label (Grouping)'].unique()

array(['Median real estate taxes paid --', '\xa0\xa0\xa0\xa0Total:',
       '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Median real estate taxes paid for units with a mortgage',
       '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Median real estate taxes paid for units without a mortgage'],
      dtype=object)

In [68]:
tax_total = tax_df[tax_df["Label (Grouping)"] == "\xa0\xa0\xa0\xa0Total:"]
tax_total.shape
tax_total.head()

,Label (Grouping),ZCTA5 83856!!Estimate,ZCTA5 83856!!Margin of Error,ZCTA5 98001!!Estimate,ZCTA5 98001!!Margin of Error,ZCTA5 98002!!Estimate,ZCTA5 98002!!Margin of Error,ZCTA5 98003!!Estimate,ZCTA5 98003!!Margin of Error,ZCTA5 98004!!Estimate,...,ZCTA5 99363!!Estimate,ZCTA5 99363!!Margin of Error,ZCTA5 99371!!Estimate,ZCTA5 99371!!Margin of Error,ZCTA5 99401!!Estimate,ZCTA5 99401!!Margin of Error,ZCTA5 99402!!Estimate,ZCTA5 99402!!Margin of Error,ZCTA5 99403!!Estimate,ZCTA5 99403!!Margin of Error
1,Total:,"1,632",±138,"5,483",±235,"4,320",±259,"4,127",±255,"10,000+",...,"2,263",±517,"1,524",±475,"1,677",±482,"3,080",±466,"2,308",±162

In [69]:
tax_total = tax_total.loc[:, tax_total.columns.str.contains("!!Estimate")]

In [70]:
tax_total.head()

,ZCTA5 83856!!Estimate,ZCTA5 98001!!Estimate,ZCTA5 98002!!Estimate,ZCTA5 98003!!Estimate,ZCTA5 98004!!Estimate,ZCTA5 98005!!Estimate,ZCTA5 98006!!Estimate,ZCTA5 98007!!Estimate,ZCTA5 98008!!Estimate,ZCTA5 98010!!Estimate,...,ZCTA5 99357!!Estimate,ZCTA5 99359!!Estimate,ZCTA5 99360!!Estimate,ZCTA5 99361!!Estimate,ZCTA5 99362!!Estimate,ZCTA5 99363!!Estimate,ZCTA5 99371!!Estimate,ZCTA5 99401!!Estimate,ZCTA5 99402!!Estimate,ZCTA5 99403!!Estimate
1,"1,632","5,483","4,320","4,127","10,000+","10,000+","9,724","7,289","8,482","5,940",...,"1,788","1,341","3,372","2,542","3,668","2,263","1,524","1,677","3,080","2,308"

In [71]:
tax_total.columns = ['Label (Grouping)'] + [col.split('!!')[0].replace('ZCTA5 ', '') for col in tax_total.columns[1:]]
tax_total.head()

,Label (Grouping),98001,98002,98003,98004,98005,98006,98007,98008,98010,...,99357,99359,99360,99361,99362,99363,99371,99401,99402,99403
1,"1,632","5,483","4,320","4,127","10,000+","10,000+","9,724","7,289","8,482","5,940",...,"1,788","1,341","3,372","2,542","3,668","2,263","1,524","1,677","3,080","2,308"

In [64]:
tax_long = tax_total.T.reset_index()
tax_long.head()

              index      1
0  Label (Grouping)   1632
1             98001   5483
2             98002   4320
3             98003   4127
4             98004  10000

In [72]:
tax_long.columns = ["zipcode_label", "median_property_tax"]

In [76]:
zipcodes = [
    98038, 98023, 98116, 98117, 98034, 98065, 98031, 98075, 98028,
    98103, 98004, 98166, 98077, 98008, 98006, 98199, 98052, 98136,
    98108, 98055, 98027, 98058, 98144, 98115, 98168, 98102, 98042,
    98059, 98002, 98155, 98072, 98001, 98112, 98007, 98177, 98074,
    98119, 98011, 98014, 98106, 98045, 98033, 98125, 98133, 98053,
    98122, 98022, 98178, 98148, 98019, 98010, 98070, 98056, 98030,
    98188, 98029, 98107, 98105, 98198, 98003, 98118, 98126, 98040,
    98092, 98032, 98146, 98024, 98005, 98039, 98109
]

tax_long = tax_long[tax_long["zipcode_label"].isin(zipcodes)]
tax_long.head()

Empty DataFrame
Columns: [zipcode_label, median_property_tax]
Index: []

In [ ]:
# Make sure both ZIP columns are the same type (string)
housing['zipcode'] = housing['zipcode'].astype(str)
zip_totals['ZIP'] = zip_totals['ZIP'].astype(str)

# Merge
merged_df = housing.merge(zip_totals, on='ZIP', how='left')

# Check the result
print(merged_df.head())

In [26]:
housing["zipcode"].unique()

array([98038, 98023, 98116, 98117, 98034, 98065, 98031, 98075, 98028,
       98103, 98004, 98166, 98077, 98008, 98006, 98199, 98052, 98136,
       98108, 98055, 98027, 98058, 98144, 98115, 98168, 98102, 98042,
       98059, 98002, 98155, 98072, 98001, 98112, 98007, 98177, 98074,
       98119, 98011, 98014, 98106, 98045, 98033, 98125, 98133, 98053,
       98122, 98022, 98178, 98148, 98019, 98010, 98070, 98056, 98030,
       98188, 98029, 98107, 98105, 98198, 98003, 98118, 98126, 98040,
       98092, 98032, 98146, 98024, 98005, 98039, 98109])

In [75]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20000 non-null  int64
 1   date           20000 non-null  object
 2   bedrooms       20000 non-null  int64
 3   bathrooms      20000 non-null  float64
 4   sqft_living    20000 non-null  int64
 5   sqft_lot       20000 non-null  int64
 6   floors         20000 non-null  float64
 7   waterfront     20000 non-null  int64
 8   view           20000 non-null  int64
 9   condition      20000 non-null  int64
 10  grade          20000 non-null  int64
 11  sqft_above     20000 non-null  int64
 12  sqft_basement  20000 non-null  int64
 13  yr_built       20000 non-null  int64
 14  yr_renovated   20000 non-null  int64
 15  zipcode        20000 non-null  int64
 16  lat            20000 non-null  float64
 17  long           20000 non-null  float64
 18  sqft_living15  20000 non-null  int64
 19  sqft_lot15     20000 non-null  int64
 20  price          20000 non-null  float64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.2+ MB

In [4]:
housing["has_basement"]= (housing["sqft_basement"]>0).astype(int)

In [5]:
housing["year_sold"]= housing["date"].astype(str).str[:4].astype(int)
housing["year_sold"]

0        2014
1        2015
2        2014
3        2014
4        2014
         ...
19995    2014
19996    2014
19997    2014
19998    2014
19999    2015
Name: year_sold, Length: 20000, dtype: int64

In [6]:
housing["age"]= (housing["year_sold"]-housing["yr_built"])
housing["age"]

0          7
1         36
2        100
3         29
4         67
        ...
19995     67
19996      0
19997     10
19998     51
19999      9
Name: age, Length: 20000, dtype: int64

In [24]:
y= housing["price"]
X= housing.drop(columns = ["id","date", "sqft_above", "sqft_basement","price", "zipcode"])

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [25]:
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor

pipeline = Pipeline([
    ("house_model", XGBRegressor(
        n_estimators=300,
        max_depth=4,
        learning_rate=0.05,
        subsample=0.8,
        colsample_bytree=0.8,
        random_state=42
    ))
])

pipeline.fit(X_train, y_train)

train_preds = pipeline.predict(X_train)
test_preds = pipeline.predict(X_test)

from sklearn.metrics import mean_squared_error
import numpy as np

train_rmse = np.sqrt(mean_squared_error(y_train, train_preds))
test_rmse = np.sqrt(mean_squared_error(y_test, test_preds))

print(f"Train RMSE: ${train_rmse:,.0f}")
print(f"Test RMSE:  ${test_rmse:,.0f}")

Train RMSE: $92,539
Test RMSE:  $135,902

In [21]:
model = pipeline.named_steps["house_model"]
importances = model.feature_importances_

feature_names = X_train.columns

importance_df = pd.DataFrame({
    "feature": feature_names,
    "importance": importances
}).sort_values(by="importance", ascending=False)

print(importance_df.head(20))

          feature  importance
8           grade    0.310645
2     sqft_living    0.198431
11            lat    0.081727
5      waterfront    0.073170
6            view    0.057933
17            age    0.051329
1       bathrooms    0.046240
12           long    0.043047
13  sqft_living15    0.041997
9        yr_built    0.022488
14     sqft_lot15    0.012132
0        bedrooms    0.011904
3        sqft_lot    0.011009
16      year_sold    0.010234
10   yr_renovated    0.009821
7       condition    0.009150
4          floors    0.004491
15   has_basement    0.004252